@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root{
    /* ### Primary */
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    
    
    /* ### Neutral */

    --Dark-brown: hsl(25, 47%, 15%-);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
    
    --background-color: #f1f1f1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(27, 66%, 92%);
}

main{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.box1{
    margin-top: 300px;
    background: hsl(10, 79%, 65%);
    border-radius: 20px;
    padding: 50px;
}

.text1 .money{
    display: flex;
    justify-content: center;
}

.text1 p{
    font-size: 20px;
    color: #FFF;
}

.money h1{
    font-size: 30px;
    color: #FFF;
    margin-top: 10px;
}

.box1 .logo{
    display: flex;
    justify-content: end;
    align-items: center;
}

.box2{
    margin-top: 25px;
    background: hsl(33, 100%, 98%);
    border-radius: 20px;
    padding: 50px;
}

.title h1{
    display: flex;
    justify-content: start;
    color: #000;
    font-size: 25px;
}

hr{
    margin-top: 20px;
    color: hsl(28, 10%, 53%);
}


.days{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.days p{
    font-size: 20px;
    color: hsl(28, 10%, 53%);
}

.result1{
    margin-top: 20px;
}

.result1 p{
    color: hsl(28, 10%, 53%);
    font-size: 20px;
}

.result1 h1{
    font-size: 35px;
    color: #000;
}


.result2 h3{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: #000;
}

.result2 p{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: hsl(28, 10%, 53%);
}